/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeIn 1s ease-in-out;

}

/* Container Styling */
.container {
  /* background-color: #ffffff; */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.55);
  max-width: 400px;
  width: 100%;
  animation: slideUp 1s ease forwards;

}

/* Header */
.container h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

/* Form Elements */
form p {
  margin: 10px 0 5px;
  font-weight: 600;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #a3aeae;
  border-radius: 8px;
  transition: 0.4s;
}

input[type="text"]:focus {
  border-color: #66bb6a;
  outline: none;
}

/* Button Style */
button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background-color: #119430;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1bc039;
}

/* Results Box */
#results {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-left: 6px solid #66bb6a;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
}

/* Weight Guide */
#weight-guide {
  margin-top: 25px;
}

#weight-guide h2 {
  color: #444;
  margin-bottom: 10px;
}

#weight-guide p {
  background-color: #f7f7f7;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 6px;
}
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
}